
<div class='search-form'>
  <%= form_tag( { :controller => 'search', :action => @asset ? @asset : 'index', :asset => nil, :category_path => ( @category ? @category.path : nil ) },
                 :method => 'get', :class => 'search_form' ) do %>
    <div id='search-header'>
      <%= assets_menu(@asset) %>
      <%= filters(@asset) %>
    </div>

    <div class="search-field">
      <span class="formfield">
        <%= search_input_with_suggestions('query', @asset, @query, {:id => 'search-input', :size => 50, :placeholder => hint}) %>
      </span>

      <%= submit_button(:search, _('Search')) %>
    </div>

    <%= render :partial => 'search_form_extra_fields' %>

  <% end %>

  <% if @empty_query %>
    <% hint = environment.search_hints[@asset] %>
    <% if hint and !hint.blank? %>
      <div class="search-hint"><%= hint %></div>
    <% end %>
  <% end %>

  <div style="clear: both"></div>
</div>
